.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    box-sizing: border-box;
}

@media screen and (max-width: 920px) {
    .card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style: none;
    }
}